<li>
	{{id}}.{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Devour This! {{else}}{{/if}}
	</button>
{{!-- 
	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>

